@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 147 50% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 147 44% 49%;
    --primary-foreground: 147 50% 98%;
    --secondary: 147 25% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 147 25% 92%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 120 60% 34%;
    --accent-foreground: 120 50% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 147 20% 88%;
    --input: 147 20% 88%;
    --ring: 147 44% 49%;
    --radius: 0.5rem;
    --chart-1: 147 44% 49%;
    --chart-2: 120 60% 34%;
    --chart-3: 147 70% 30%;
    --chart-4: 120 40% 50%;
    --chart-5: 147 30% 60%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 147 44% 49%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 147 25% 94%;
    --sidebar-accent-foreground: 147 44% 30%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 147 44% 49%;
  }

  .dark {
    --background: 147 20% 8%;
    --foreground: 147 20% 98%;
    --card: 147 20% 12%;
    --card-foreground: 147 20% 98%;
    --popover: 147 20% 8%;
    --popover-foreground: 147 20% 98%;
    --primary: 147 44% 49%;
    --primary-foreground: 147 50% 98%;
    --secondary: 147 15% 15.9%;
    --secondary-foreground: 147 20% 98%;
    --muted: 147 15% 15.9%;
    --muted-foreground: 147 10% 64.9%;
    --accent: 120 60% 34%;
    --accent-foreground: 120 50% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 147 15% 15.9%;
    --input: 147 15% 15.9%;
    --ring: 147 44% 49%;
    --chart-1: 147 44% 49%;
    --chart-2: 120 60% 34%;
    --chart-3: 147 70% 30%;
    --chart-4: 120 40% 50%;
    --chart-5: 147 30% 60%;
    --sidebar-background: 147 20% 10%;
    --sidebar-foreground: 147 20% 95.9%;
    --sidebar-primary: 147 44% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 147 20% 15.9%;
    --sidebar-accent-foreground: 147 20% 95.9%;
    --sidebar-border: 147 15% 15.9%;
    --sidebar-ring: 147 44% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
